@charset "UTF-8";
/* 공통 */
@import url('https://webfontworld.github.io/yangheeryu/Dongle.css');
@import url('https://webfontworld.github.io/kotra/KotraBold.css');
@import url('https://webfontworld.github.io/Cafe24Ssurround/Cafe24Ssurround.css');


:root{
    --font-sizeS: 1em;
    --font-sizeM : 1.5em;
    --font-sizeL: 2em;
    --font-sizeXL: 2.5em;
    --font-sizeXXL: 3em;

    --color-white: #fff;
    --color-black: #313131;
    --color-lightgray: #dcdcdc90;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

/* header */

header{
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
}

.headerWrap{
    display: flex;
    align-items: center;
    font-size: var(--font-sizeM);
    justify-content: space-evenly;
    width:100%;
}
.headerWrap img{
    width: 100px;
    height: 100px;
}
.headerWrap .logo{
    width: 400px;
    height: 100px;
}

.headerWrap .logo div {
    font-size: var(--font-sizeXL);
    font-family: 'Dongle';
    color: var(--color-black);
}
.headerWrap .navMenu ul > li > a{
   color: black;
}
.headerWrap .changeBtn {
    display: flex;
    justify-content: space-between;
    font-family: 'KotraBold';
    font-weight: 800;
}
.headerWrap .logo a{
    display: flex;
    align-items: center;
}
.headerWrap .navMenu{
    width: 700px;
    height: 100%;
    justify-content: space-around;
}

.headerWrap .navMenu ul,
.headerWrap .changeBtn{
    display: flex;
    justify-content: space-between;
    font-family: 'KotraBold';
    font-weight: 800;
}

.headerWrap .signin-signup{
    display: inherit;

}

.signin-signup button{
    padding: 10px;
    margin-right: 20px;
    width: 80px;
    height: 40px;
    border-radius: 10px;
    font-family: 'Dongle';
    font-weight: 1000;
    font-size: var(--font-sizeS);
    text-align: center;
    line-height: 20px;
    box-shadow : 3px 3px 3px black;
    transition-duration: 0.3s;
}
.signin-signup button:active{
    position: relative;
    top:2px;
    box-shadow : 1px 1px 0 rgb(0,0,0,0.5);
}


.signin{
    background: var(--color-black);
    border: none;
    color: var(--color-white);
}

.signup{
    background: var(--color-white);
    border: 1px solid var(--color-lightgray);
}


/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    vertical-align: middle;
    margin-left: 20px;
}
/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--color-black);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--color-black);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

/* footer */

footer{
    position: relative;
    bottom: 0;
    width: 100%;
    height: 70px;
    border-top: 1px solid black;
    background: #313131;
    color: #fff;
}

footer .footerWrap{
    text-align: center;
    width: 100%;
    height: 70px;
    line-height: 70px;
}
main{
margin:100px 0px 200px 0px;
height:500px;
color:#000;
}
.user-regi{
padding-top:50px;
text-align: center;
color: #000;
font-weight: bold;
font-size:var(--font-sizeL);
}
#user-register-page{
margin: 0 auto;
background-color:#fff;
border: 1px solid orange;
width: 600px;
height: 700px;
border-radius: 2em;
 }
.info-insert{
text-align: center;
    
}
.insert-info{
width: 300px;
height: 30px;
margin-top:20px;
border-radius: 5px;
border:1px solid #b2b2b2;
}
.ssn{
 width: 135px;
 height:30px;
 margin-top:20px;
 border: 1px solid #b2b2b2;
 border-radius: 5px;
}
.warn{
font-size: 0.8em;
margin-left:58px;
 
}
.insert-check{
display:flex;
margin-left: 165px;
margin-top:20px;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}
.check-box{
width:25px;
height:25px;
}
.agree{
margin-left: 10px;
}
.logform2{
font-size: var(--font-sizeS);
}
body{
text-align: center;
background-color: #fff;


}
.agree2{
margin-left:70px;
font-size:0.8em;
}
.info-insert{
margin-top:55px;
font-size: 1.3em;
}

.insert-check input[type="checkbox"]{
	display:none;
}
.on{
	width:20px;
	height: 20px;
	background:#fff;
	border:solid 1px #b2b2b2;
		
}
.insert-check input[type="checkbox"]:checked + .on {
	background: coral;
}
.on:after{
	content:"";
	display:none;
}
.insert-check input[type="checkbox"]:checked + .on:after{
	display:none;
}
.on:after{
	width:6px;
	height:10px;
	border:solid #fff;
	border-width: 0 2px2px 0;
}


 #submit{
font-size: 2em;
color:#fff;
text-decoration: none;
width:250px;
height: 70px;
border: none;
border-radius: 5px;
margin-top:40px;
background-color:#b2b2b2;
} 

a:visited{
text-decoration: none;
}